.container {
  display: flex;
}

.button {
  color: var(--text-secondary);
  width: 32px;
  height: 32px;
}
.decrease {
  border-radius: 6px 0px 0px 6px;
}

.increase {
  border-radius: 0px 6px 6px 0px;
}

.quantity {
  border-radius: 0px;
  width: 40px;
  height: 17px;
  padding: 10px;
}
